/* Cores:
#002f5c  - azul
#0c28fe  - azul */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,200&display=swap");

body {
  margin: 0;
}
/**********HEADER************************/

header {
  background-color: #002f5c;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.endereco p {
  margin-left: 30px;
}
.contatos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.7rem;
  margin-right: 30px;
}

main {
  width: 90vw;
  background-color: white;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

article > h2 {
  padding-bottom: 20px;
}

article > p {
  text-align: justify;
  margin-bottom: 10px;
  text-indent: 20px;
}

/*******************************************NAV************************/
a.navbar-brand {
  color: blue;
  font-weight: 900;
}
a.nav-link:hover {
  color: blue;
  transform: scale(1.2);
}

.contato {
  border-radius: 25px;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
}

.contato:hover {
  color: white;
  transform: scale(1.1);
}

/************************************HOME***********************************/
.img-logo {
  position: absolute;
  width: 24%;
}
.banner {
  background: rgb(54, 52, 52);
  width: 100%;
  display: block;
  align-items: center;
  margin: 0;
}

.text-banner {
  display: flex;
  font-weight: bold;
  font-size: 300%;
  color: white;
  flex-direction: column;
  align-items: center;
  padding: 10%;
}

.empresa {
  color: #0c28fe;
}

button {
  border: none;
  background-color: #0c28fe;

  border-radius: 10px;
}

.bt-home {
  color: black;
  text-decoration: none;
  border-radius: 30px;
  padding: 5px 15px 5px 15px;
  font-size: 20px;
}

.bt-home:hover {
  color: white;
  transform: scale(1.1);
}

/***********************************************************/
.container1 {
  display: flex;
}

.d-flex {
  max-width: 40%;
}

.text1 {
  max-width: 100%;
  margin: auto;
  margin-right: 30px;
  margin-left: 0;
}

.h3-prom {
  color: blue;
  text-align: center;
  font-weight: 900;
}

.strong {
  text-align: center;
  font-weight: 900;
}

.img-home2 {
  width: 50%;
}

/* ****************PROGRAMAÇÃO****************/

/* ****************CONTATO****************/

.title {
  color: #0c28fe;
  font-size: 300%;
  text-align: center;
  margin-top: 30px;
}

#i-contato {
  font-size: 50px;
  margin: 30px;
}

#contact {
  text-align: center;
}

#contact a:hover {
  cursor: grab;
}

/* ****************FOOTER ****************/

footer {
  padding: 10px;
  text-align: center;
  background: #002f5c;
  font-size: 10px;
}

span {
  color: white;
}

/*******************RESPONSIVO****************/

@media (max-width: 947px) {
}

@media (max-width: 690px) {
}

@media (max-width: 500px) {
}

@media (min-width: 576px) and (max-width: 768px) {
  #card_respon2 {
    display: none;
  }

  #card_respon {
    display: none;
  }

  .card_section {
    display: none;
  }

  .card_section2 {
    display: none;
  }

  .section-carousel {
    width: 70% !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #card_respon {
    display: none;
  }

  .card_section {
    display: none;
  }

  .section-carousel {
    width: 55% !important;
  }
}

@media (max-width: 576px) {
  #card_respon2 {
    display: none;
  }

  #card_respon {
    display: none;
  }

  #card_respon3 {
    display: none;
  }

  .card_section {
    display: none;
  }

  .respons-section {
    width: 100% !important;
  }

  .section-carousel {
    width: 75% !important;
  }
}
