/* Cores:
#002f5c  - azul
#0c28fe  - azul */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,200&display=swap");

/**********HEADER************************/

header {
  background-color: #002f5c;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  margin: 0 10px 0 10px;
}

.contatos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.7rem;
}

.endereço {
  font-size: 0.2rem;
  display: inline;
  justify-content: left;
}

.telefone {
  margin-right: 3 0px;
}

/************************************NAV*****************************/

.logo {
  display: inline-block;
  margin: 0 10px 0 10px;
}

.img_logo {
  width: 50%;
}

i#burguer {
  background-color: white;
  display: block;
  text-align: center;
  padding: 10px;
  color: black;
  cursor: pointer;
}

i#burguer:hover {
  background-color: white;
  color: black;
}

menu {
  display: none;
}

menu > ul {
  list-style-type: none;
}

menu > ul > li > a {
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  background-color: rgb(109, 107, 111);
  color: white;
  border-top: 2px solid gray;
}

menu > ul > li > a:hover {
  background-color: gray;
}

main {
  width: 90vw;
  background-color: white;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

article > h2 {
  padding-bottom: 20px;
}

article > p {
  text-align: justify;
  margin-bottom: 10px;
  text-indent: 20px;
}

/************************************HOME***********************************/

.banner {
  background: rgb(54, 52, 52);
  width: 100%;
  height: 40%;
  display: block;
  align-items: center;
}

.text-banner {
  display: flex;
  font-weight: bold;
  font-size: 300%;
  color: white;
  flex-direction: column;
  align-items: center;
  padding: 10%;
}

span {
  color: #0c28fe;
}

button {
  border: none;
  background-color: #0c28fe;
  padding: 20px 40px;
  border-radius: 10px;
}

.login-text a {
  color: #fff;
}

.login-text {
  color: white;
}
/*****************************************SOBRE******************/
/*****************************************PROGRAMAÇÃO******************/

.titulo {
  color: #0c28fe;
  font-size: 300%;
  text-align: center;
  margin-top: 30px;
}

.card {
  width: 90%;
  height: 90%;
  border: 4px solid #0c28fe;
  margin: 20px 20px 20px 30px;
  border-radius: 15px;
  display: inline-block;
}

h3 {
  color: #0c28fe;
  text-align: center;
  margin-top: 10px;
}
.img-programacao {
  width: 30%;
  height: 300px;
  padding: 2px;
  border-radius: 10px;
  margin: 10px 0 0 10px;
}

p {
  margin: auto;
  padding: 5px 8px 0 8px;
  text-align: center;
}

ul {
  text-align: center;
  list-style-type: none;
}

li {
}

h5 {
  text-align: center;
  margin-top: 10px;
}

/* ****************CONTATO****************/
#contact {
  height: calc(100vh + 80px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  background-color: white;
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  width: 100%;
  padding: 5px 20px;
}
input,
textarea,
button {
  box-shadow: 0 1px 2px white;
  border: 4px solid #0c28fe;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  resize: none;
}

#contact form button {
  background-color: #0c28fe;
  color: white;
  font-size: 18px;
  cursor: pointer;
  opacity: 0.9;
}
#contact form button:hover {
  opacity: 2;
}

.button {
  color: white;
  background-color: #0c28fe;
}
/* ****************FOOTER ****************/

footer {
  box-shadow: 0px -1px 0px 0px #000000;
  padding: 12px;
  text-align: center;
  color: white;
  background-color: #002f5c;
  font-size: 10px;
}

/* SUCCESS PAGE */
.success_body {
  background-color: #000000;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.success_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  color: #0c28fe;
}

.success_cont h1 {
  padding: 30px;
}

.success_cont a {
  border: 1px solid #0c28fe;
  padding: 10px 30px;
  color: #0c28fe;
  transition: 0.3s;
}

.success_cont a:hover {
  background-color: #0c28fe;
  color: #030303;
}

.agradecimento {
  color: white;
  padding: 10px;
}

/*******************RESPONSIVO****************/

@media (max-width: 947px) {
}

@media (max-width: 690px) {
}

@media (max-width: 500px) {
}
